/*
paleta:
#001228
#002a5c
#153d5f
#337AB7
#485667

*/
:root {
  --primary-color: #002a5c;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 17px;
  color: #000000;
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.4em;
}

a {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e0e0e0;
  font-family: "Playfair Display", serif;
}

nav {
  height: 4em;
  background-color: #ffffff;
  border-bottom: 0.3rem solid var(--primary-color);
  display: flex;
  justify-content: space-between;

  .logo-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 0.2em;

    .logo {
      width: 3.6em;
      height: 3.6em;
    }

    .college-name {
      font-size: 0.9em;
      font-weight: 600;
      line-height: 1.2rem;
    }
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
    margin-right: 0.3em;
    margin-top: 1.2em;
    width: 1.5em;
    height: 1.5em;
  }

  .nav-links-wrapper {
    display: none;
    position: fixed;
    z-index: 999;
    width: 72%;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #001228;

    .mobile-menu-close {
      float: right;
      cursor: pointer;
      margin-top: 1.2em;
      margin-right: 0.8em;
      height: 1.5em;
      width: 1.5em;
    }

    .nav-links,
    .login-links {
      padding: 0;
      margin-top: 3.2em;
    }

    .nav-links li,
    .login-links li {
      list-style: none;
      margin-top: 1em;
      display: inline;
    }

    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.8em;
      text-align: right;
      font-weight: 500;

      /*&:hover {
        background-color: #002a5c;
      }*/
    }
  }
}

.news-container {
  width: 100%;
  height: 94vh;

  background-image: url("../images/learning-blur-mobile.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
  height: 80%;
  width: 85%;
  margin: 0 auto;

  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;

    img {
      width: 2.3em;
    }
  }

  .carousel__button--left {
    left: -2.3em;
  }

  .carousel__button--right {
    right: -2.3em;
  }

  .carousel__container {
    height: 100%;
    position: relative;
    overflow: hidden;

    .carousel__tracker {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      height: 100%;
      transition: transform 0.4s ease-in-out;
    }
  }

  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 1em 0;

    .carousel__indicator {
      background-color: rgba(250, 250, 250, 0.6);
      border-style: none;
      border-radius: 50%;
      width: 1.2em;
      height: 1.2em;
      margin: 0 0.5em;
      cursor: pointer;
    }

    .carousel__indicator.current-slide {
      background-color: rgba(255, 255, 255, 0.9);
      transition: all 0.4s ease-in-out;
    }
  }
}

.is-hidden {
  display: none;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  .slide__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
    opacity: 0.95;
    width: 100%;
    height: 18em;
    padding: 1em;
    border: solid 4px #ffffff;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .news-header {
      border-bottom: 4px solid #ffffff;
      margin-bottom: 0.8em;

      h1 {
        color: #ffffff;
        margin-bottom: 5px;
      }

      p {
        font-weight: 400;
        color: #ffffff;
        height: 50%;
        margin-bottom: 0.8em;
      }
    }

    .news-description {
      font-weight: 400;
      color: #ffffff;
      height: 25%;
      width: 100%;
      margin-bottom: 0.8em;
    }

    .logo-wrapper-news {
      display: flex;
      justify-content: center;
      width: auto;
      height: auto;
      margin-top: 2.2em;

      .logo-news {
        width: 5em;
        height: 5em;
      }
    }
  }
}

.about-us {
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  background-color: #f0f0f0;

  h2 {
    text-align: left;
    margin-bottom: 25px;
    color: #002a5c;
    border-bottom: 3px solid #002a5c;
    width: min-content;
  }

  p {
    line-height: 22px;
  }

  .list-job {
    li {
      font-family: "roboto", sans-serif;
      line-height: 22px;
      margin-bottom: 10px;
      font-size: 1em;
    }
  }
}

footer {
  background-color: #002a5c;

  .logo-wrapper-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    .logo-footer {
      height: 10em;
      width: 10em;
    }

    .college-name {
      margin-top: 5%;
      width: 70%;
      font-size: 1.8em;
      color: white;
      text-align: center;
    }

    p {
      font-size: 1.8em;
      color: white;
      text-align: center;
    }
  }

  .contact-info-wrapper {
    background-color: #001228;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .social-media {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .social-media-logo {
        height: 2.5em;
        width: 2.5em;
        margin: 0.5em;
      }
    }

    .address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1.5em;

      p {
        width: 80%;
        font-family: "Roboto", sans-serif;
        color: white;
        text-align: center;
        margin-top: 8px;
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  h1 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }

  .about-us {
    height: auto;

    .list-job {
      margin-top: 0.6em;
    }

    .list-job > li {
      font-size: 0.8em;
    }
  }

  footer {
    .logo-wrapper-footer {
      .logo-footer {
        height: 30%;
        width: 30%;
      }

      .college-name,
      p {
        font-size: 1.5em;
      }
    }
    .contact-info-wrapper {
      height: auto;

      .social-media {
        margin-top: 1em;
      }

      .address {
        margin: 1em 0;
      }
    }
  }
}

@media only screen and (min-width: 815px) {
  nav {
    .mobile-menu,
    .mobile-menu-close {
      display: none;
    }

    .nav-links-wrapper {
      display: flex;
      align-items: center;
      position: static;
      z-index: auto;
      width: auto;
      height: auto;
      right: auto;
      top: auto;
      background-color: transparent;

      .nav-links,
      .login-links {
        margin: 0 1em 0;
        display: flex;
        align-items: center;
      }

      .nav-links li,
      .login-links li {
        list-style: none;
        margin: 0;
        flex-grow: 1;
        width: 7rem;
      }

      .nav-links li {
        display: flex;
        text-decoration: none;
        justify-content: center;
        position: relative;
        padding: 0.5em 0;
        box-shadow: inset 0 0 0 0 transparent;
        background-color: transparent;

        &:before {
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: var(--primary-color);
          transform-origin: 0 top 0;
          transform: scaleY(0);
          transition: 0.3s ease-out;
        }

        &:hover {
          .nav-links-cta {
            color: #ffffff;
          }
          &:before {
            transform: scaleY(1);
          }
        }
        .nav-links-cta {
          color: #535353;
          z-index: 5;
          transition: 0.3s ease-out;
        }
      }

      a.login-btn {
        padding: 0.3em 0;
        border: #003a81 solid 3.5px;
        transition: all 0.3s ease-out;
        margin-right: 0.5em;
        text-align: center;
        color: #535353;

        &:hover {
          color: #ffffff;
          background-color: #003a81;
          border-radius: 1em;
        }
      }

      a.register-btn {
        padding: 0.3em 0;
        border: #003a81 solid 3.5px;
        transition: 0.3s ease-out;
        background-color: #003a81;
        color: #ffffff;
        text-align: center;

        &:hover {
          background-color: #003a81;
          border-radius: 1em;
        }
      }
    }
  }

  .news-container {
    background-image: url("../images/learning-img.jpg");
    width: 100%;

    .carousel {
      width: 50%;
    }
  }
}
